.saleSection {
  max-width: 85rem;
  margin: clamp(40px, 5.56vw, 80px) clamp(16px, 2.78vw, 40px);
  margin-inline: auto;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: clamp(24px, 2.78vw, 40px);
}

.title {
  font-weight: 700;
  font-size: clamp(20px, 4.44vw, 64px);
  line-height: 110%;
  color: #282828;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ddd;
  margin-left: 32px;
}

.allSalesBtn {
  border: 1px solid #ddd;
  border-radius: 0.375rem; 
  padding: 0.5rem 1rem; 
  min-width: 8.875rem; 
  height: 2.25rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
   font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #8b8b8b;
  background-color: transparent;
  transition: background-color 0.2s;
  flex-shrink: 0;
}

.allSalesBtn:hover {
  background-color: #f5f5f5;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: clamp(8px, 0.83vw, 12px);
  overflow: hidden;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 316px;
  min-height: 422px;
  margin: 0 auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transform: scale(1.02); 
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 17.5rem;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.discountBadge {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #0d50ff;
  color: #fff;
  font-weight: 600;
  font-size: clamp(14px, 1.2vw, 20px);
  width: clamp(55px, 4.5vw, 67px);
  height: clamp(30px, 2.3vw, 34px);
  aspect-ratio: 67 / 34;
  padding: 4px 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoWrapper {
  padding: 0 16px 16px 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
}

.productTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #282828;
  margin: 0 0 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priceContainer {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.currentPrice {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  color: #282828;
}

.oldPrice {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-decoration: line-through;
  color: #8b8b8b;
}

.loading, .error {
  text-align: center;
  padding: 40px;
  font-size: 18px;
}

@media (max-width: 1200px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .cardsContainer {
    grid-template-columns: 1fr;
  }

  .saleSection{
    padding: clamp(16px, 2.78vw, 40px) clamp(14px, 2vw, 16px);
  }
}